@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0; 
    padding: 0;
}


/* Começo do corpo  do Projeto */

/* Body (corpo) */
body {
    /* Shorthand Background (background: color image repeat position / size) nessa ordem funcionou e com a barra antes do size, por que no Curso em Video não conseguiu fazer da certe e tiravamos o size e fazia por fora em baixo. */
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
    /* Aqui coloco a imagem de fundo, coloco para ela não repetir em varias imagens, eu alinho a imagem como top para o eixo X e o centro Y e uso o size para propriedade de alinhamento de tamanho que alinha com o tamanho da tela. */
}

body * {   /* Nesse seletor está selecionando tudo que está dentro do body */ 
    font-family: "Inter", sans-serif; /* Adiciona a fonte inter que foi pega no google fonts e o sans serif é sem serif */
    color: white; /* Cor da fonte das letras */ 
}

/* Seletor para tamanho e alinhamento do Conteúdo */
#container {  
    width: 360px;  /* Largura */
    height: 712px; /* Altura */ 
    margin: 56px auto 0;  /* distancia 50px do top entre o container e body, centralização x (horizontal, auto é para os dois lados) e 0 no bottom (em baixo) para não desalinhar com o projeto no figma, que já tem suas medidas.*/
}

#profile { /* Esse seletor está atribuindo todas as propriedades aos seus filhos */
    text-align: center;  /* nessa propriedade eu atribuo que os "inline" fique centralizados. */
    padding: 24px;  /* Espaçamento dentro do conteúdo */
}

/* Selecionando o seletor do Id profile e a tag Imagem para trabalhar a caixa profile */
#profile img {
    width: 112px;     /* Para arrumar o tamanho da largura da imagem, mas como o código trabalha com escala ele arruma tanto a "largura" quanto a "altura" */
}

#profile p { /* Este seletor está selecionando a tag p (parágrafo para atribuir essa propriedades) */
    font-weight: 500;  /* O peso do texto */ 
    line-height: 24px; /* 150%  ---  Essa propriedade é altura da linha  */
    margin-top: 8px; /* Afastamento do parágrafo da img */ 
}